.create-service-type-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 10px;
    width: 200px;
    cursor: pointer;
    transition: .2s ease;
}

.create-service-type-card:not(.service-selected):hover {
    background-color: var(--sf-light);
}

.create-service-type-card:not(.service-selected):hover .create-service-type-icon {
    background-color: var(--ov-light);
}

.create-service-type-icon{
    font-size: 50px;
    padding: 10px;
    background-color: var(--sf-light);
    border-radius: 10px;
    transition: ease 0.3s;
}

.service-selected {
    background-color: var(--sf-light);
}

.service-selected .create-service-type-icon {
    background-color: var(--ov-dark);
    color: var(--fg-light);
}

.create-service-type-name{
    font-size: 1.25em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}