.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.forgot-password-container h3,
.forgot-password-container p,
.forgot-password-container label,
.forgot-password-container button {
  font-family: var(--primary-font);
}

.forgot-password-container > i {
  font-size: 1.5    rem;
  color: var(--fg-dark);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.forgot-password-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 30px;
  box-shadow: 0 2px 10px 0 var(--sf-light);
  border-radius: 15px;
  background-color: var(--bg-light);
}

.forgot-password-container .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgot-password-container .form .input-group label {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: start;
  width: 100%;
}

.forgot-password-container .icon-input {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1.5px solid var(--sf-light);
  border-radius: 40px;
  padding: 8px 15px;
  width: 100%;
  transition: 0.1s ease;
}

.forgot-password-container .icon-input i {
  color: var(--hl-gray);
  font-size: 0.9rem;
}

.forgot-password-container .form p{
    font-size: 0.7rem;
    color: var(--sf-dark);
    text-align: center;
    margin-bottom: 15px;
}

.forgot-password-container .icon-input input {
  border: none;
  outline: none;
  font-size: 0.8    rem;
  font-family: var(--primary-font);
  width: 100%;

}

.forgot-password-container .icon-input:focus-within {
  border: 1.5px solid var(--bg-dark);
}

/* Buttons */
.forgot-password-container .form button {
  width: 100%;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.forgot-password-container .form .reset-button {
  background-color: var(--bg-dark);
  color: var(--fg-light);
  border: 1.5px solid var(--bg-dark);
  transition: background-color 0.2s ease;
}

.forgot-password-container .form .reset-button:hover {
  background-color: var(--bg-light);
  color: var(--fg-dark);
}

.forgot-password-container .form .reset-button.disabled {
  background-color: var(--sf-dark);
  border: 1.5px solid var(--sf-dark);
  cursor: not-allowed;
}

.forgot-password-container .form .reset-button.disabled:hover {
  background-color: var(--sf-dark);
  border: 1.5px solid var(--sf-dark);
  color: var(--fg-light);
  cursor: not-allowed;
}

.forgot-password-container .form .back-btn {
  margin-top: 8px;
  font-size: 0.8rem;
  color: var(--bg-dark);
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.forgot-password-container .form .error-message {
  margin-top: 6px;
  text-align: start;
  font-size: 0.7rem;
  color: var(--error);
}

@media (max-width: 500px) {
  .forgot-password-container .form {
    width: 90%;
    padding: 20px;
  }
}
