.login-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-container .content {
  display: flex;
  width: 55%;
  border-radius: 50px;
  box-shadow: 0 0 25px color-mix(in srgb, var(--fg-dark) 50%, transparent);
  margin-bottom: 100px;
  position: relative;
}

.login-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 15% 5%;
  gap: 15px;
}

.login-container .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-container .label-field {
  font-weight: 500;
}

.login-container .input-field {
    display: flex;
    align-items: center;
    gap: 2%;
    border-radius: 50px;
    border: 2px solid var(--sf-light);
    padding: 3%;
    transition: .1s ease;
}

.login-container .input-field i {
  color: var(--hl-gray);
  font-size: 1rem;
}

.login-container .input-field input {
  border: none;
  outline: none;
  color: var(--fg-dark);
  width: 100%;
}

.login-container .input-field:focus-within {
  border: 2px solid var(--hl-gray);
}

.login-container .input-field input::placeholder {
  color: var(--hl-gray);
}

.login-container .utils {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.login-container .remember {
  display: flex;
  align-items: center;
  gap: 5%;
}

.login-container .remember input {
  cursor: pointer;
  margin: 0;
}

.login-container .remember p {
  white-space: nowrap;
  font-weight: 500;
}

.login-container a {
  color: var(--fg-dark);
  text-decoration: none;
  font-weight: 500;
}

.login-container .login-btn {
  text-align: center;
  padding: 4%;
  border-radius: 50px;
  border: 2px solid;
  background-color: var(--fg-dark);
  color: var(--fg-light);
  font-weight: 500;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.login-container .login-btn:hover {
    color: var(--fg-dark);
    border-color: var(--fg-dark);
    background-color: transparent;
}

.login-container .alt-login-label {
  display: flex;
  gap: 5%;
  align-items: center;
  white-space: nowrap;
  color: var(--hl-gray);
  font-size: 0.8rem;
}

.login-container hr {
  height: 1px;
  margin: 0;
  width: 100%;
}

.login-container .alt-login-btn {
    background-color: var(--fg-light);
    color: var(--fg-dark);
    padding: 4%;
    border-radius: 50px;
    border: 2px solid var(--fg-dark);
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
}

.login-container .alt-login-btn i {
  font-size: 1.2rem;
}

.login-container .alt-login-btn:hover {
  background-color: var(--sf-light);
  border-color: var(--sf-light);
}

.login-container .signup-redirect {
  display: flex;
  justify-content: center;
  gap: 2%;
  color: var(--hl-gray);
  font-size: 0.8rem;
}

.login-container .splash {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  background-color: var(--bg-dark);
  border-radius: 100px 50px 50px 100px;
}

.login-container .splash-container {
  height: 250px;
  width: 250px;
}

.login-container .splash .logo h1 {
  color: var(--fg-light);
}

.login-container .splash .logo h1 span {
  font-weight: bold;
  font-size: 2rem;
}

.login-container .splash-container img {
  width: 100%;
  height: 100%;
}

.login-container .splash .label {
  color: var(--fg-light);
  font-size: 2rem;
  font-weight: 700;
}

.bubble, .heart-bubble {
  position: absolute;
  width: 80px;
  opacity: 0.7;
  height: auto;
  animation: float 5s ease-in-out infinite;
  filter: drop-shadow(0 2px 10px var(--sf-dark));
}

.bubble:nth-child(odd){
  width: 100px;
}
.heart-bubble:nth-child(odd){
  width: 150px;
}

@keyframes float {
  0% { transform: translateY(0);}
  50% { transform: translateY(-40px);}
  100% { transform: translateY(0px);}
}

.bubble:nth-child(1)  { animation-delay: 0s; animation-duration: 6s; }
.bubble:nth-child(2)  { animation-delay: 1s; animation-duration: 7s; }
.bubble:nth-child(3)  { animation-delay: 2s; animation-duration: 8s; }
.bubble:nth-child(4)  { animation-delay: 0.5s; animation-duration: 6.5s; }
.bubble:nth-child(5)  { animation-delay: 1.5s; animation-duration: 9s; }

.heart-bubble:nth-child(6)  { animation-delay: 0s; animation-duration: 6s; }
.heart-bubble:nth-child(7)  { animation-delay: 1s; animation-duration: 7.5s; }
.heart-bubble:nth-child(8)  { animation-delay: 1.5s; animation-duration: 8.5s; }
.heart-bubble:nth-child(9)  { animation-delay: 2s; animation-duration: 6.8s; }
.heart-bubble:nth-child(10) { animation-delay: 1.2s; animation-duration: 9.5s; }