.ai-assistant-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.ai-chat-container{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: var(--sf-light);
    display: none; /* default */
    flex-direction: column;
}


.chat-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 auto;
}

.chat-header-title{
    flex: 0 1 auto;
    
}

.minimize-icon{
    align-self: flex-end;
    cursor: pointer;
}

.chats-container{
    background-color: var(--ov-light);
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: scroll;
}

.chat-input-container{
    flex: 0 1 auto;
    position: relative;
    display: flex;
}

.chat-input{
    width: 100%;
    padding: 5px;
    font-family: 'Poppins';
}

.send-icon{
    position: absolute;
    right: 8px;
    top: 6px;
    font-size: 1.5rem;
}

.user-message-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-message, .message-error{
    padding: 5px;
    border-radius: 10px;
}

.user-message{
    align-self: flex-end;
    background-color: var(--sf-light);
    
}

.message-error{
    align-self: flex-start;
    background-color: var(--error);
    width: fit-content;
}

.message-date{
    font-size: 0.7rem;
    color: var(--ov-dark);
}

.ai-assistant-button{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sf-light);
    border-radius: 50%;
    cursor: pointer;
}

.ai-assistant-icon{
    font-size: 2rem;
    width: 40px;
}

.typing-container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #eee; 
    gap: 5px;
    margin-bottom: 5px;
    align-self: flex-start; 
    height: 30px; 
}

.typing-dot {
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}