.ai-assistant-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.ai-chat-container{
    width: 400px;
    height: 450px;
    max-height: 450px;
    background-color: var(--bg-light);
    box-shadow: 0 0 1px var(--sf-dark);
    display: none;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    bottom: 15px;
}

.chat-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: .8rem;
    background-color: color-mix(in srgb, var(--hl-blue) 90%, transparent);
}

.chat-header img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--sf-light);
}

.chat-header-content{
    display: flex;
    flex-direction: column;
    color: var(--fg-light);
    width: 100%;
}

.chat-header-title{
    font-weight: 800;
    font-size: 1rem;
}

.chat-header-desc{
    font-size: 0.8rem;
}

.close-ai-assistant-btn {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;
    color: var(--fg-light);
}

.close-ai-assistant-btn:hover{
    color: var(--hl-blue);
    background-color: var(--bg-light);
}

.chats-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
    padding: 1.5rem;
    gap: 20px;
}

.chat-input-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .5rem;
    justify-content: space-around;
    background-color: color-mix(in srgb, var(--hl-blue) 90%, transparent);
}

.chat-input{
    width: 90%;
    height: 40px;
    padding: .5rem 1rem;
    font-family: 'Poppins';
    font-size: .9rem;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-light);
    outline: none;
    resize: none;
    overflow-x: hidden;
}

.chat-input:focus{
    box-shadow: 0 0 5px var(--ov-dark);
}

.send-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--fg-light);
    padding: .5rem;
    border-radius: 50%;
    transition: .3s ease;
}

.send-icon:hover {
    color: var(--hl-blue);
    background-color: var(--bg-light);
}

.user-message-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-message, .ai-message {
    padding: .5rem 1rem;
    border-radius: 25px;
    width: fit-content;
    max-width: 70%;
    cursor: pointer;
}

.user-message{
    align-self: flex-end;
    background-color: color-mix(in srgb, var(--hl-blue) 15%, transparent);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 5px;
}

.ai-message{
    align-self: flex-start;
    background-color: color-mix(in srgb, var(--ov-light) 30%, transparent);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 5px;
}

.message-date{
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .3px;
    color: var(--ov-dark);
    margin-top: 5px;
    display: none;
}

.ai-assistant-button{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sf-light);
    box-shadow: 0 2px 10px var(--sf-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.ai-chat-container.active{
    display: flex;
}

.ai-assistant-button:hover{
    box-shadow: 0 5px 25px var(--sf-light);
    transform: translateY(-5px);
    animation: buttonBounce 1.2s infinite ease-in-out;
}

.ai-assistant-button img{
    width: 70%;
    height: 70%;
}

.ai-assistant-icon{
    font-size: 2rem;
    width: 40px;
}

.typing-container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #eee; 
    gap: 5px;
    margin-bottom: 5px;
    align-self: flex-start; 
    height: 30px; 
}

.typing-dot {
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%;
    animation: typingBounce 1.2s infinite ease-in-out;
}

.typing-container:hover{
    animation: typingBounce 1.2s infinite ease-in-out;
}

@keyframes typingBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes buttonBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 678px) {
    .ai-assistant-container {
        bottom: 80px;
    }
}