.ai-assistant-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.ai-chat-container{
    width: 300px;
    height: fit-content;
    max-height: 400px;
    padding: 10px;
    background-color: var(--bg-light);
    display: none; /* default */
    flex-direction: column;
    box-shadow: 0 4px 15px var(--sf-dark);
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 80px;
    right: 10px;
}

.chat-header img{
    width: 50px;
    height: 50px;
    background-color: var(--sf-light);
    padding: 5px;
    border-radius: 50%;
}

.chat-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    padding: 12px;
}

.chat-header-title{
    flex: 0 1 auto;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: -20px;
}

.minimize-icon{
    align-self: flex-start;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--sf-light);
    padding: 2px;
    border-radius: 5px;
}

.minimize-icon:hover{
    color: var(--hl-purple);
    transition: all 0.3s ease;
}

.chats-container{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: scroll;
    padding: 12px;
}

.chat-input-container{
    flex: 0 1 auto;
    position: relative;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--sf-light);
    border-radius: 25px;
}

.chat-input{
    width: 100%;
    padding: 5px;
    font-family: 'Poppins';
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

.send-icon{
    right: 8px;
    top: 6px;
    font-size: 1.5rem;
    cursor: pointer;
}

.send-icon:hover{
    color: var(--hl-purple);
    transition: all 0.3s ease;
}

.user-message-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-message, .message-error{
    padding: 5px;
    border-radius: 12px;
}

.user-message{
    align-self: flex-end;
    background-color: var(--sf-light);
    border-radius: 12px;
}

.message-error{
    align-self: flex-start;
    background-color: color-mix(in srgb, var(--error), var(--sf-light) 10%);
    width: fit-content;
    border-radius: 12px;
}

.message-date{
    font-size: 0.7rem;
    color: var(--ov-dark);
}

.ai-assistant-button{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sf-light);
    box-shadow: 0 2px 10px var(--sf-dark);
    border-radius: 50%;
    cursor: pointer;
}

.ai-assistant-button:hover{
    box-shadow: 0 4px 15px var(--sf-dark);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.ai-assistant-button img{
    width: 70%;
    height: 70%;
}

.ai-assistant-icon{
    font-size: 2rem;
    width: 40px;
}

.typing-container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #eee; 
    gap: 5px;
    margin-bottom: 5px;
    align-self: flex-start; 
    height: 30px; 
}

.typing-dot {
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@media (max-width: 678px) {
    .ai-assistant-container {
        bottom: 80px;
    }
}