.about-us-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.about-us-container > div {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.about-us-container h2 {
  font-size: 2rem;
}

.about-us-container .hero {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background-image: url("../../assets/white_textile_hang.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-container .hero .hero-text-content {
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--bg-dark) 50%, transparent);
    padding: 10%;
    color: var(--fg-light);
}

.about-us-container .about-us {
  gap: 1rem;
}

.about-us-container .about-us-desc {
  color: var(--hl-gray);
  text-align: justify;
}

.about-us-container .values {
    flex-direction: row;
    gap: 5%;
    align-items: center;
}


.about-us-container .values h2 {
  text-align: end;
}

.about-us-container .values-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
}

.about-us-container .value-card {
    border-radius: 25px;
    box-shadow: 0 0 10px var(--sf-light);
    padding: 5%;
}

.about-us-container .value-card .value-title {
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 2%;
}

.about-us-container .value-card .value-title h2 {
    font-size: 1.5rem;
}

.about-us-container .value-card .value-title i {
    font-size: 1.5rem;
}

.about-us-container .value-card .value-desc {
    height: max-content;
    padding: 5%;
    background-color: color-mix(in srgb, var(--sf-light) 5%, transparent);
    box-shadow: inset 0 0 5px var(--sf-light);
    border-radius: 15px;
    color: var(--hl-gray);
}

.about-us-container .value-revolutionize i {
    color: var(--success);
}

.about-us-container .value-customer i {
    color: var(--hl-blue);
}

.about-us-container .value-quality i {
    color: var(--hl-yellow);
}

.about-us-container .value-care i {
    color: var(--error);
}
