.about-us-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.about-us-container > div {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-us-container h2 {
  font-size: 2rem;
}

.about-us-container p, span {
  color: var(--hl-gray);
}

.about-us-container .hero {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background-image: url("../../assets/white_textile_hang.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-container .hero .hero-text-content {
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--bg-dark) 25%, transparent);
    padding: 10px;
    color: var(--fg-light);
    text-align: center;
}

.about-us-container .about-us-desc {
  text-align: justify;
}

.about-us-container .values-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.about-us-container .team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}