.dashboard-container, .dashboard-container.admin-dashboard {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 20px;
}

.dashboard-container.admin-dashboard {
    margin-left: 60px;
}

.dashboard-container .page-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dashboard-container .page-header .page-title h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--fg-dark);
}

.dashboard-container .page-header .page-title p{
    font-size: 1.2rem;
    color: var(--sf-dark);
}

.dashboard-container .page-header .header-button{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--bg-dark);
    color: var(--fg-light);
    font-weight: 600;
    padding: 20px 45px;
    border-radius: 100px;
    border: 2px solid var(--bg-dark);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.dashboard-container .page-header .header-button:hover{
    background-color: var(--bg-light);
    color: var(--fg-dark);
    transition: 0.3s ease;
}

.dashboard-container .dashboard-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard-container .order-history-container{
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--sf-dark);
    padding: 20px;
    border-radius: 30px;
    gap: 20px;
}

.dashboard-container .order-history-container .order-history-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container .order-history-container .order-history-header h2{
    font-weight: 600;
    font-size: 1.5rem;
}

.dashboard-container .order-history-container .order-history-header p{
    color: var(--sf-dark);
    font-size: 1rem;
}

.dashboard-container .page-header .header-button i{
    font-size: 1.5rem;
}

.dashboard-container .dashboard-day-summary-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--primary-font);
    gap: 10px;
    border: 0.5px solid var(--sf-dark);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
}

.dashboard-container .dashboard-day-summary-data input{
    border: none;
    font-size: 1rem;
    font-family: var(--primary-font);
    outline: none;
}

.dashboard-container .order-history-filter{
    padding: 10px;
    font-size: 1rem;
    width: 100px;
    border: 0.5px solid var(--sf-dark);
    outline: none;
    border-radius: 10px;
}

.dashboard-container .dashboard-button-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.dashboard-container .dashboard-button-link .dashboard-link-button{
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--bg-dark);
    border: 2px solid var(--bg-dark);
    padding: 20px 0;
    border-radius: 30px;
    min-width: 150px;
}

.dashboard-container .dashboard-button-link .dashboard-link-button:hover{
    background-color: var(--bg-dark);
    color: var(--fg-light);
    transition: 0.3s ease;
}

@media (max-width: 768px) {
    .dashboard-container, .dashboard-container.admin-dashboard {
        padding: 1rem;
        margin: 0;
        margin-top: 80px;
    }
}