.auth-account.alt-account-btn {
    background-color: var(--fg-light);
    color: var(--fg-dark);
    padding: 4%;
    border-radius: 50px;
    border: 2px solid var(--fg-dark);
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
}

.auth-account.alt-account-btn i {
  font-size: 1.2rem;
}

.auth-account.alt-account-btn:hover {
  background-color: var(--sf-light);
  border-color: var(--sf-light);
}