.create-order-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px; /* lol */
    gap: 20px;
    margin-bottom: 30px;
    padding: 50px 100px;
}

.gray-border{
    border: 1px solid var(--ov-light);
    border-radius: 25px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-order-title{
    font-size: 3.125em;
    font-weight: bold;
}

.create-order-subtitle{
    font-size: 1.125em;
    color: var(--sf-dark);
}

.draft-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.drafts-title{
    font-size: 1.5625em;
    font-weight: 600;
    align-self: baseline;
}

.drafts-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.draft{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.draft-title{
    font-size: 1.125em;
    font-weight: 500;
}

.draft p{
    padding: 5px;
}

.subtext{
    font-size: 1em;
    color: var(--sf-dark);
}


.order-details-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 25px;
}

.order-details-title{
    font-size: 30px;
    font-weight: 600;
}

.section-title{
    font-size: 1.125em;
    font-weight: 600;
}

.address-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}

.address-input-container{
    width: 100%;
    position: relative;
}

.create-address-input{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    font-family: var(--primary-font);
    font-size: 1.125em;
    outline: none;
}

.address-edit{
    position: absolute;
    top: 22px;
    right: 22px;
    /* background-color: var(--fg-light); */
    /* pointer-events: none; */
    cursor: pointer;
}

.order-items-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.washable-items-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    flex-grow: 1;
    min-width: 300px;
    flex: 0.5;
    justify-content: center;
    align-items: center;
}

.washable-items-title{
    align-self: flex-start;
}

.select-items{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 630px;
}

.search-container{
    width: 100%;
    position: relative;
}

.select-search{
    width: 100%;
    font-size: 1em;
    outline: none;
    padding: 15px 15px;
    padding-right: 50px;
}

.select-search-logo{
    position: absolute;
    padding: 10px 15px 10px 5px;
    right: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.items-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 320px; */
    gap: 10px;
}

.washable-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 130px;
    flex-basis: 48%;
    flex-grow: 1;
    padding: 10px;
}


.washable-item-name{
    text-align: center;
}

.washable-item img, .order-logo-name-container img{
    padding: 15px;
    background-color: var(--sf-light);
    border-radius: 10px;
}

.orders-list-container{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.orders-list-headers-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.create-order-card{
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-logo-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.create-order-item-logo{
    padding: 20px;
}

.create-order-item-name{
    font-size: 1.25em;
    font-weight: 600;
}

.order-quantity-container{
    display: flex;
    flex-direction: row;
    
}

.order-quantity-container *{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 1.25em;
}

.quantity-operation{
    background-color: var(--sf-light);
    font-weight: 500;
}

.delete-button{
    color: var(--fg-light);
    background-color: var(--error);
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 25px;
    font-weight: 500;
}

.service-types-containter{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-type-card{
    padding: 20px 10px;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--sf-dark);
}

.service-type-card:hover{
    border-color: var(--fg-dark);
}

.service-type-card:hover .service-type-icon-container,
.service-type-card:hover .service-type-icon{
    fill: white;
    background-color: var(--fg-dark);
}

.service-type-card,
.service-type-icon-container,
.service-type-icon{
    transition: ease 0.3s;
}

.service-type-icon-container{
    padding: 20px;
    background-color: var(--sf-light);
    border-radius: 25px;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.service-type-icon{
    fill: var(--fg-black);
}

.service-type-name{
    font-size: 1.25em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.transfer-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transfer-mode-container, .transfer-date-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 49%;
    gap: 10px;
}


.radio-container{
    display: flex;
    flex-direction: row;
}


.radio{
    appearance: none; 
    width: 20px;
    height: 20px; 
    border: 2px solid black; 
    border-radius: 50%;
    outline: none; 
    cursor: pointer; 
    position: relative;
}

.radio:checked{
    /* background-color: var(--sf-dark); */
    border-color: var(--fg-dark); 
    
}

.radio:checked::before {
  content: ""; 
  width: 10px; 
  height: 10px; 
  background-color: rgb(239, 0, 0); 
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.radio-label{
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Poppins', 'Sans serif';
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.transfer-date-input{
    padding: 10px 20px;
    font-size: 1.125em;
    font-weight: 500;
    font-family: 'Poppins', 'Sans serif';
    outline: none;
}

.section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.additional-textarea{
    width: 100%;
    height: 140px;
    resize: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Poppins', 'Sans serif';
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-button{
    width: 48%;
    padding: 30px;
    font-size: 1.125em;
    font-weight: bold;
    border-radius: 50px;
}

.draft-button{
    background-color: var(--fg-light);
    color: var(--fg-dark);
    transition: ease 0.3s;
}
.draft-button:hover{
    background-color: var(--fg-dark);
    color: var(--fg-light);
}

.summary-button{
    background-color: var(--fg-dark);
    color: var(--fg-light);
    transition: ease 0.3s;
}
.summary-button:hover{
    background-color: var(--fg-light);
    color: var(--fg-dark);
}
.summary-number{
    display: inline;
    color: var(--sf-dark);
}

.gcash-label{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}