.summary-order-card{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.summary-order-logo-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.summary-order-item-logo{
    padding: 10px;
    /* width: 25px; */
}

.summary-order-item-logo{
    padding: 15px;
    background-color: var(--sf-light);
    border-radius: 10px;
}

.summary-order-item-name{
    font-size: 1em;
    font-weight: 500;
}

.summary-order-quantity-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.summary-order-quantity-container *{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 1.25em;
}
