.nav-bar-container *{
    font-size: 20px;
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    height: 80px;
    width: 100%;
    padding: .3rem 2rem;
    border-bottom: 0.5px solid var(--sf-dark);
    position: fixed;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--bg-light) 95%, transparent);
}

.nav-bar-container .links{
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.nav-bar-container .nav-link, .nav-bar-container .nav-link-phone{
    text-align: center;
    text-decoration: none;
    color: var(--fg-dark);
    transition: .2s ease;
    border-radius: 50px;
    padding: 2%;
}

.nav-bar-container .nav-link p, .nav-bar-container .nav-link-phone p{
    font-size: 1rem;
}

.nav-bar-container .nav-link-phone, .nav-bar-container .nav-link i{
    display: none;
}

.nav-bar-container .nav-link:hover {
    background-color: color-mix(in srgb, var(--sf-light) 50%, transparent);
}
.nav-bar-container .nav-link.active{
    background-color: color-mix(in srgb, var(--sf-light) 50%, transparent);
}

.nav-bar-container .login-signup{
    display: flex;
    gap: 10px;
}

.login-signup a {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    color: var(--fg-dark);
}

.login-signup .signup {
    color: var(--fg-light);
    background-color: var(--fg-dark);
    border: 2px solid;
    transition: .2s ease;
}

.login-signup .signup:hover{
    color: var(--fg-dark);
    background-color: var(--bg-light);
}

.login-signup .login {
    border: 2px solid;
    transition: .2s ease;
}

.login-signup .login:hover{
    border-color: var(--sf-light);
    background-color: var(--sf-light);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: var(--fg-dark);
}

.logo h1 span{
    font-weight: bold;
    font-size: 2rem;
}

.logo .highlight-tag{
    color: var(--sf-dark);
}

.phone-nav-bar-logo-container{
    display: none;
}

.nav-bar-container .profile-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-bar-container .profile-picture{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: var(--sf-light);
    padding: 5px 10px;
    border-radius: 100px;
    max-width: fit-content;
    position: relative;
}

.nav-bar-container .profile-picture:hover{
    box-shadow: 0 2px 10px 0 var(--sf-light);
    transition: 0.3s ease-in-out;
}

.nav-bar-container .profile-picture img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bg-dark);
}

.nav-bar-container .profile-picture h5{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--fg-dark);
}

.nav-bar-container .floating-nav-container{
    display: none;
    position: absolute;
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px 0 var(--sf-light);
    z-index: 1000;
    top: 0;
    right: 0;
    margin-top: 55px;
}

.nav-bar-container .floating-nav-container.open{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-bar-container .floating-nav-container button{
    box-shadow: 0 2px 10px var(--sf-dark);
    border: none;
    background-color: var(--error);
    color: var(--fg-light);
    cursor: pointer;
    text-align: left;
}

.nav-bar-container .floating-nav-link{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--fg-dark);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.nav-bar-container .floating-nav-link:hover{
    transition: 0.3s ease-in-out;
    background-color: color-mix(in srgb, var(--sf-dark) 50%, transparent);
}

.nav-bar-container .floating-nav-container button:hover{
    background-color: var(--bg-dark);
    transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .nav-bar-container {
        align-items: start;
        padding: 0px 10px;
        height: 70px;
        gap: 0;
        bottom: 0;
        position: fixed;
        border-bottom: none;
        border-top: 0.5px solid var(--sf-dark);
    }

    .nav-bar-container .logo{
        display: none;
    }

    .nav-bar-container .login, .nav-bar-container .signup{
        display: none;
    }
    
    .nav-bar-container .nav-link-phone, .nav-bar-container .nav-link i{
        display: inline;
    }

    .nav-bar-container .nav-link, .nav-bar-container .nav-link-phone{
        flex: 1;
        padding: 5px;
    }

    .nav-bar-container .links{
        gap: 0;
    }

    .nav-bar-container .nav-link.active, .nav-bar-container .nav-link-phone.active{
        background-color: var(--bg-dark);
        border-radius: 0 0 20px 20px;
        color: var(--fg-light);
        transition: 0.3s ease;
        box-shadow: 0 2px 10px 0 var(--bg-dark);
    }

    .phone-nav-bar-logo-container{
        display: flex;
        align-items: center;
        position: fixed;
        padding: 0 20px;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: var(--bg-light);
        border-bottom: 0.5px solid var(--sf-dark);
        z-index: 1001;
    }

    .nav-bar-container .profile-picture{
        flex-direction: column;
        background-color: transparent;
    }

    .nav-bar-container .profile-picture img{
        width: 50px;
        height: 50px;
    }

    .nav-bar-container .profile-picture i, .nav-bar-container .profile-picture h5{
        display: none;
    }

    .nav-bar-container .floating-nav-container{
        position: absolute;
        top: -100px;
        margin-top: -100px;
        right: -5px;
    }
}