.nav-bar-container *{
    font-size: 20px;
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vw;
    height: 80px;
    width: 100%;
    padding: .3rem 2rem;
    border-bottom: 0.5px solid var(--sf-dark);
    position: fixed;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--bg-light) 95%, transparent);
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-link{
    text-align: center;
    text-decoration: none;
    color: var(--fg-dark);
    font-size: 1rem;
    transition: .2s ease;
    border-radius: 50px;
    padding: 2%;
}

.nav-link:hover {
    background-color: color-mix(in srgb, var(--sf-light) 50%, transparent);
}
.nav-link.active{
    background-color: color-mix(in srgb, var(--sf-light) 50%, transparent);
}

.login-signup{
    display: flex;
    gap: 10px;
}

.login-signup a {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    color: var(--fg-dark);
}

.login-signup .signup {
    color: var(--fg-light);
    background-color: var(--fg-dark);
    border: 2px solid;
    transition: .2s ease;
}

.login-signup .signup:hover{
    color: var(--fg-dark);
    background-color: var(--bg-light);
}

.login-signup .login {
    border: 2px solid;
    transition: .2s ease;
}

.login-signup .login:hover{
    border-color: var(--sf-light);
    background-color: var(--sf-light);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: var(--fg-dark);
}

.logo h1 span{
    font-weight: bold;
    font-size: 2rem;
}

.logo .highlight-tag{
    color: var(--sf-dark);
}