.nav-bar-container *{
    font-family: 'Poppins';
    font-size: 20px;
}
.nav-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    border-bottom: 0.5px solid var(--sf-dark);
    position: fixed;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--bg-light) 95%, transparent);
}

.links{
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.nav-link{
    text-decoration: none;
    color: var(--fg-dark);
    font-size: 1rem;
}

.login-signup{
    display: flex;
    gap: 10px;
}

.login-signup a {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    color: var(--fg-dark);
}

.login-signup .signup{
    color: var(--fg-light);
    background-color: var(--fg-dark);
    border: 1px solid;
    transition: ease 0.3s;
}

.login-signup .signup:hover{
    color: var(--fg-dark);
    background-color: var(--bg-light);
}

.login-signup .login:hover{
    transition: ease 0.3s;
    background-color: color-mix(in srgb, var(--sf-dark) 20%, transparent);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: var(--fg-dark);
}

.logo h1 span{
    font-weight: bold;
    font-size: 2rem;
}

.logo .highlight-tag{
    color: var(--sf-dark);
}