.management-view-container {
    margin-top: 100px;
    margin-left: 60px;
    padding: 4%;
}

.management-view-container .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.management-view-container .header {
    display: flex;
    justify-content: space-between;
}

.management-view-container .header .desc {
    font-size: 1rem;
    font-weight: normal;
    margin-top: .5rem;
    color: var(--hl-gray);
}

.management-view-container .header .return-btn {
    border-radius: 50px;
    background-color: var(--bg-dark);
    color: var(--fg-light);
    border: 2px solid;
    padding: 1.5rem 5rem;
    cursor: pointer;
    transition: .2s ease;
    font-size: 1rem;
    font-weight: 500;
}

.management-view-container .details-container {
    border-radius: 25px;
    border: 1px solid var(--sf-light);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.management-view-container .details-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.management-view-container .details-card {
    border-radius: 25px;
    background-color: color-mix(in srgb, var(--sf-light) 50%, transparent);
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    row-gap: 1rem;
    font-weight: 500;
}

.management-view-container .details-card .label {
    color: var(--hl-gray);
}

.management-view-container .track-card {
    display: flex;
    flex-direction: column;
}

.management-view-container .detail-track {
    display: flex;
    gap: .5rem;
}

.management-view-container .detail-track .visual {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.management-view-container .detail-track .connector {
    border: 2px solid;
    height: 100%;
}

.management-view-container .detail-track:first-child .connector-lead {
    display: none;
}

.management-view-container .detail-track:last-child .connector-lead {
    height: 40%;
}

.management-view-container .detail-track:last-child .connector-trail {
    display: none;
}

.management-view-container .detail-track:last-child .visual {
    justify-content: start;
}

.management-view-container .detail-track:only-child .connector-lead {
    display: none;
}

.management-view-container .detail-track:only-child .connector-trail {
    display: block;
    height: 40%;
}

.management-view-container .detail-track .content {
    display: flex;
    gap: 2px;
    margin: .5rem 0;
}

.management-view-container .detail-track .title {
    color: var(--fg-dark);
    font-weight: 500;
}

.management-view-container .btn-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.management-view-container .btn-container button {
    flex-grow: 1;
    border-radius: 50px;
    border: 2px solid;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
    transition: .2s ease;
}

.management-view-container .btn-container button:disabled {
    cursor: default;
}

.management-view-container .btn-container .edit-btn {
    background-color: transparent;
}

.management-view-container .btn-container .edit-btn:hover {
    background-color: var(--bg-dark);
    color: var(--fg-light);
}

.management-view-container .btn-container .cancel-btn {
    background-color: color-mix(in srgb, var(--hl-yellow) 80%, transparent);
}

.management-view-container .btn-container .cancel-btn:hover {
    background-color: var(--hl-yellow);
}

.management-view-container .btn-container .quick-btn {
    background-color: color-mix(in srgb, var(--hl-blue) 80%, transparent);
}

.management-view-container .btn-container .quick-btn:hover {
    background-color: var(--hl-blue);
}

.management-view-container .btn-container .complete-btn {
    background-color: color-mix(in srgb, var(--success) 80%, transparent);
}

.management-view-container .btn-container .complete-btn:hover {
    background-color: var(--success);
}

.management-view-container .btn-container .delete-btn {
    background-color: color-mix(in srgb, var(--error) 80%, transparent);
}

.management-view-container .btn-container .delete-btn:hover {
    background-color: var(--error);
}

.management-view-container .btn-container .reject-btn {
    background-color: color-mix(in srgb, var(--error) 80%, transparent);
}

.management-view-container .btn-container .reject-btn:hover {
    background-color: var(--error);
}

.management-view-container .btn-container .accept-btn {
    background-color: color-mix(in srgb, var(--success) 80%, transparent);
}

.management-view-container .btn-container .accept-btn:hover {
    background-color: var(--success);
}

.management-view-container .map-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.management-view-container .leaflet-container {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.management-view-container .leaflet-control-attribution {
    padding-right: 1rem;
}

.management-view-container .map-msg {
    text-align: center;
    font-size: 1rem;
}

.management-view-container .map-msg.error {
    color: var(--error);
}

.management-view-container .placeholder-msg {
    font-size: 1rem;
    color: var(--hl-gray);
    text-align: center;
}

#swal2-textarea {
    font-family: var(--primary-font);
    font-size: .8rem;
    resize: none;
}