.footer-container{
    background-color: black;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    color: var(--fg-light);
}

.footer-container .summary{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    border-bottom: 1px solid var(--fg-light);
    width: 100%;
    gap: 3rem;
}

.footer-container .footer-section{
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.footer-container .footer-title{
    font-size: 2rem;
    font-weight: bold;
}

.footer-container .white-logo{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.footer-container .white-logo img{
    width: 50px;
    height: 50px;
}

.footer-container .white-logo h1{
    color: var(--fg-light);
}

.footer-container .white-logo h1 span{
    font-weight: bold;
    font-size: 2rem;
}

.footer-container .white-logo .highlight-tag{
    color: var(--sf-dark);
}

.footer-container .socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-container .socials i{
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.footer-container .socials i:hover{
    transition: ease 0.3s;
    color: var(--fg-dark);
    background-color: var(--bg-light);
}

.footer-container .copyright{
    font-size: .9rem;
    color: var(--sf-dark);
}

.footer-container a {
    text-decoration: none;
    color: var(--fg-light);
}

@media (max-width: 768px) {
    .footer-container {
        padding: 5rem 0;
    }
    .footer-container .summary{
        padding: 0 2rem;
        gap: 2rem;
    }
}