.gray-border{
    border: 1px solid var(--ov-light);
    border-radius: 25px;
}

.subtext{
    color: var(--sf-dark);
}

.details-edit-container{
    /* margin-top: 100px; */
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.details-edit{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.details-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-title{
    font-weight: bold;
    font-size: 2.5em;
}

.small-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-container-title{
    font-weight: 500;
}

.small-container-input-container{
    position: relative;
}

.small-container-input{
    width: 100%;
    padding: 10px;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Poppins';
    font-size: 1em;
}

.input-icon{
    position: absolute;
    font-size: 25px;
    top: 10px;
}

.left-icon{
    color: var(--sf-dark);
    left: 10px;
    
}

.right-icon{
    right: 12px;
    cursor: pointer;
}

.items-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 320px; */
    gap: 10px;
    overflow: auto;
}

.details-edit-container .orders-list-container{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    gap: 10px;
    max-height: 700px;
}

.orders-list-headers-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.input-date{
    padding-right: 15px;
}