.package-service-card {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 0.5px solid var(--sf-light);
    padding: 10px 20px;
    border-radius: 30px;
    max-width: 200px;
    min-width: 200px;
    box-shadow: 0 2px 10px var(--sf-light);
}

.package-service-card .image-container {
    width: 100%;
    height: auto;
}

.package-service-card .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.package-service-card .image-container p {
    font-size: 0.9rem;
}

.package-service-card .description-container {
    transform: rotateY(180deg);
    display: none;
    gap: 10px;
    padding: 10px;
}

.package-service-card .description-container{
    font-size: 0.8rem;
    color: var(--fg-dark);
}

.package-service-card:hover {
  transform: rotateY(180deg);
  transition: 0.6s ease-out;
  box-shadow: 0 5px 10px var(--sf-light);
}

.package-service-card:hover .image-container {
  display: none;
}

.package-service-card:hover .description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
