.management-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
}

.management-container *{
    font-family: var(--primary-font);
}

.management-container .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    border: 1px solid var(--sf-dark);
    padding: 30px;
    border-radius: 30px;
    gap: 10px;
}

.management-container .form h2{
    font-size: 2rem;
    font-weight: bolder;
}

.management-container .form p{
    font-size: 1rem;
    color: var(--sf-dark);
}

.management-container .form .input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.management-container .form .input-field{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.management-container .form .input-field label{
    font-size: 1rem;
    font-weight: 500;
}

.management-container .form .input-field .error-message{
    font-size: 0.9rem;
    color: var(--error);
    margin-left: 20px;
}

.management-container .form .input-field input{
    padding: 10px 20px;
    border: 1px solid var(--sf-dark);
    border-radius: 20px;
    font-size: 1rem;
}

.management-container .form .input-field select{
    padding: 10px 20px;
    border: 1px solid var(--sf-dark);
    border-radius: 20px;
    font-size: 1rem;
    background-color: var(--bg-light);
    color: var(--fg-dark);
    cursor: pointer;
}

.management-container .form .input-field select option{
    font-size: 1rem;
    color: var(--fg-dark);
    position: absolute;
}

.management-container .form .button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.management-container .form .button-group button{
    flex: 1;
}

.management-container .form .button-group .cancel-button{
    padding: 10px 30px;
    border: 2px solid var(--bg-dark);
    background-color: var(--bg-light);
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
}

.management-container .form .button-group .create-button{
    padding: 10px 30px;
    border: 2px solid var(--bg-dark);
    background-color: var(--bg-dark);
    color: var(--fg-light);
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
}

.management-container .form .button-group .create-button.disabled{
    background-color: var(--sf-dark);
    border: 2px solid var(--sf-dark);
    cursor: not-allowed;
}

.management-container .form .button-group .create-button.disabled:hover{
    background-color: var(--sf-dark);
    border: 2px solid var(--sf-dark);
    color: var(--fg-light);
    cursor: not-allowed;
}

.management-container .form .button-group .cancel-button:hover{
    transition: 0.3s ease-in-out;
    border: 2px solid var(--sf-light);
    background-color: var(--sf-light);
}

.management-container .form .button-group .create-button:hover{
    transition: 0.3s ease-in-out;
    background-color: var(--bg-light);
    color: var(--fg-dark);
}